#container {}

p {
    display: inline-block;
    margin-left: 20px;
    font-size: 20px;
    color: rgb(100, 98, 98);

}

p:hover {
    border-bottom: 2px solid rgb(100, 98, 98);
}
#para5{
    color: blue;
    font-size: 20px;
    margin-left: 40px;
}